@charset "UTF-8";

@font-face {
    font-family: 'principal';
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format('truetype');
}

:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    --font1: 'principal', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;

    font-size: 18px;
    font-family: var(--font1);
}

main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background-color: var(--Pale-blue);
}

section {
    min-height: 100vh;

    background-color: black;
}

section > div#caixa1 {
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--Light-royal-blue);
}

div#caixa1 > p#p2 {
    max-width: 70%;
}

section > div#caixa2 {
    height: 50vh;
    background-color: white;
}